body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-around;
    height: 75px;
    background-color: aquamarine;
    border-radius: 10px;
    align-items: baseline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#nav-list {
    list-style: none;
}

.nav-list-item {
    display: inline;
    padding: 10px;
}

#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    background-color: antiquewhite;
    border-radius: 10px;
}

#picture {
  height: 300px;
  border: solid;
}