html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

.nav-links {
    text-decoration: none;
    color: inherit;
    border: solid;
    padding: 5px;
}

.nav-links:hover {
    border: 3px dotted red;
    color: red;
    background: #fff;
  }

header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 75px;
    background-color: aquamarine;
    border-radius: 10px;
    align-items: baseline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#nav-list {
    list-style: none;
}

.nav-list-item {
    display: inline;
    padding: 10px;
}

#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    background-color: antiquewhite;
    border-radius: 10px;
    flex-wrap: wrap;
    border-bottom: solid;
}

.section-titles {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

#profile-picture {
  height: 300px;
  border: solid;
}

#about-me-paragraph {
    width: 50%;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

#work {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    flex-wrap: wrap;
    align-items: center;
}

#picture-area {
    display: flex;
    height: 400px;
    justify-content: space-around;
    width: 100%;
}

.work-titles {
    text-align: center;
}

.work-area-1 {
display: flex;
flex-direction: column;
}

.work-pictures {
width: 100%;
height: 250px;
}

.picture-hover:hover {
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px
    rgba(232, 102, 236, 1);
    transition: box-shadow 0.2s ease-in-out;
}
